# Cleaning Data

<font size="3"> 

- Quick recap
- Python data structures
- Pandas
- Importing data
    - Flat files
    - JavaScript Object Notation (JSON)
    - API
    - Working with relational databases in Python    
- Importing data from statistical software packages
- Cleaning data
    - Exploring your data
    - Cleaning data for analysis
- Q&A
    
    
</font>

### Cleaning data

- Prepare data for analysis

- Data almost never comes in clean

- Diagnose your data for problems

#### Common data problems

- Inconsistent column names Missing data
- Outliers
- Duplicate rows
- Untidy
- Need to process columns
- Column types can signal unexpected data values

In [ ]:
# Import libraries
import pandas as pd
import re
import pandas as pd
import numpy as np
from numpy import NaN

import seaborn as sns
import matplotlib.pyplot as plt
import missingno as msno
import datetime as dt

## Exploring your data

You're going to look at a subset of the **Department of Buildings Job Application** Filings dataset from the NYC Open Data portal. This dataset consists of job applications filed on January 22, 2017.

<https://data.cityofnewyork.us/Housing-Development/DOB-Job-Application-Filings/ic3t-wcy2>

In [ ]:
# Import pandas
#import pandas as pd

# Read the file into a DataFrame: df
df = pd.read_csv('data/dob_job_application_filings_subset.csv')

# Print the head of df
df.head()

In [ ]:
# Print the shape of df
df.shape

In [ ]:
# Print the columns of df
df.columns

In [ ]:
#print(df.info())

In [ ]:
df.describe()

### Frequency counts for categorical data

As you've seen, .describe() can only be used on numeric columns. So how can you diagnose data issues when you have categorical data? One way is by using the .value_counts() method, which returns the frequency counts for each unique value in a column!

This method also has an optional parameter called dropna which is True by default. What this means is if you have missing data in a column, it will not give a frequency count of them. You want to set the dropna column to False so if there are missing values in a column, it will give you the frequency counts.

In [ ]:
# Print the value counts for 'Borough'
print(df['Borough'].value_counts(dropna=False))

In [ ]:
# Print the value_counts for 'State'
df['State'].value_counts(dropna=False).head()

In [ ]:
# Print the value counts for 'Site Fill'
print(df['Site Fill'].value_counts(dropna=False))

In [ ]:
# Print the value_counts for 'State'
print(df['State'].
      value_counts(dropna=False).
      head())

## Cleaning data for analysis

### Converting data types

You'll see how ensuring all categorical variables in a DataFrame are of type category reduces memory usage.

Tips data contains information about how much a customer tipped, whether the customer was male or female, a smoker or not, etc.

Look at the output of tips.info(). You'll note that two columns that should be categorical - sex and smoker - are instead of type object, which is pandas' way of storing arbitrary strings.

In [ ]:
tips = pd.read_csv('data/tips.csv')

tips.head()

In [ ]:
tips.info()

In [ ]:
# Convert the sex column to type 'category'
tips.sex = tips.sex.astype('category')

In [ ]:
tips.info()

In [ ]:
# Convert the smoker column to type 'category'
tips.smoker = tips.smoker.astype('category')

In [ ]:
tips.info()

### Working with numeric data

If you expect the data type of a column to be numeric (int or float), but instead it is of type object, this typically means that there is a non numeric value in the column, which also signifies bad data.

You can use the **pd.to_numeric()** function to convert a column into a numeric data type. If the function raises an error, you can be sure that there is a bad value within the column. 

You can choose to ignore or coerce the value into a missing value, NaN.

In [ ]:
# Convert 'total_bill' to a numeric dtype
tips['total_bill'] = pd.to_numeric(tips['total_bill'], errors='coerce')

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_numeric.html

# Print the info of tips
tips.info()

### Dropping duplicate data
Duplicate data causes a variety of problems. From the point of view of performance, they use up unnecessary amounts of memory and cause unneeded calculations to be performed when processing data. In addition, they can also bias any analysis results.

A dataset consisting of the performance of songs on the Billboard charts has been pre-loaded into a DataFrame called billboard.

In [ ]:
billboard = pd.read_csv('data/billboard.csv')

billboard

In [ ]:
billboard.info()

### Numeric data or ... ?

 You'll be working with bicycle ride sharing data in San Francisco called ride_sharing. It contains information on the start and end stations, the trip duration, and some user information for a bike sharing service.
 
The user_type column contains information on whether a user is taking a free ride and takes on the following values:

- 1 for free riders.
- 2 for pay per ride.
- 3 for monthly subscribers.

In [ ]:
ride_sharing = pd.read_csv("data/ride_sharing_new.csv", index_col=0)

ride_sharing.head()

In [ ]:
# Print the information of ride_sharing
print(ride_sharing.info())

In [ ]:
# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

In [ ]:
# Convert user_type from integer to category and store it in the user_type_cat column.
ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype('category')

In [ ]:
# Write an assert statement confirming the change
assert ride_sharing['user_type_cat'].dtype == 'category'

In [ ]:
ride_sharing.info()

In [ ]:
# Print new summary statistics 
print(ride_sharing['user_type_cat'].describe())

### Summing strings and concatenating numbers

Another common data type problem is importing what should be numerical values as strings, as mathematical operations such as summing and multiplication lead to string concatenation, not numerical outputs.

In [ ]:
# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.strip('minutes') 

# https://pandas.pydata.org/pandas-docs/version/0.24.2/reference/api/pandas.Series.str.strip.html

In [ ]:
ride_sharing.info()

In [ ]:
# Convert duration to integer
ride_sharing['duration_time'] = ride_sharing['duration_trim'].astype('int')

In [ ]:
# Write an assert statement making sure of conversion
assert ride_sharing['duration_time'].dtype == 'int'

In [ ]:
ride_sharing.info()

In [ ]:
# Print formed columns  
ride_sharing[['duration','duration_trim','duration_time']]

In [ ]:
# calculate average ride duration 

ride_sharing['duration_time'].mean()

### Finding duplicates

In [ ]:
titanic = pd.read_csv("data/modified_titanic_data.csv")

titanic.head()

### Dropping unused column
Based on our observation, there is an invalid/null Unnamed: 13 column that we do not need. We can drop it by using the function below.

In [ ]:
titanic.drop(columns="Unnamed: 13", inplace = True)

titanic.head()

### Removing duplicate
Letâ€™s check for duplicates in this dataset by using this function.


- keep allows a few parameters to check on duplicates.

- first : Mark duplicates as True except for the first occurrence.

- last : Mark duplicates as True except for the last occurrence.

- False : Mark all duplicates as True.

In [ ]:
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html

titanic[titanic.duplicated(keep=False)]

Now we have seen there are duplicates in this dataset, I would like to remove them and keep the first occurrence. The following function is used to keep the first occurrence.

In [ ]:
titanic = titanic.drop_duplicates(keep="first")

In [ ]:
# Check if the duplicates are removed, it will return null if the duplicates are removed.

titanic[titanic.duplicated(keep=False)]

### Unique values

In [ ]:
airlines = pd.read_csv("data/airlines_final.csv", index_col=0)

airlines

In [ ]:
airlines.info()

In [ ]:
airlines['cleanliness'].value_counts()

In [ ]:
# Print unique values of survey columns in airlines
print('Cleanliness: ', airlines['cleanliness'].unique(), "\n")

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.unique.html

In [ ]:
# Print unique values of survey columns in airlines
print('Safety: ', airlines['safety'].unique(), "\n")

In [ ]:
# Print unique values of survey columns in airlines
print('Satisfaction: ', airlines['satisfaction'].unique(),"\n")

In [ ]:
categories = pd.read_csv("data/categories.csv")

categories

### Inconsistent categories

In [ ]:
airlines['dest_region'].value_counts()

In [ ]:
# Print unique values of both columns
print(airlines['dest_region'].unique())

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.unique.html

In [ ]:
print(airlines['dest_size'].unique())

In [ ]:
# Lower dest_region column"
airlines['dest_region'] = airlines['dest_region'].str.lower() 

#airlines['dest_region']

In [ ]:
# Replace "eur" with "europe"
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

print(airlines['dest_region'].unique())

In [ ]:
# Remove white spaces from `dest_size`
airlines['dest_size'] = airlines['dest_size'].str.strip()

# https://www.w3resource.com/pandas/series/series-str-strip.php

print(airlines['dest_size'].unique())

### Uniform dates

In [ ]:
banking = pd.read_csv("data/banking_dirty.csv", index_col=0)

banking

In [ ]:
banking.info()

In [ ]:
# Print the header of account_opened
print(banking['account_opened'].head())

In [ ]:
# Convert account_opened to datetime
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Infer datetime format
                                           infer_datetime_format = True,
                                           # Return missing value for error
                                           errors = 'coerce') 

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

banking['account_opened']

In [ ]:
# Convert account_opened to datetime
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Infer datetime format
                                           infer_datetime_format = True,
                                           # Return missing value for error
                                           errors = 'coerce')  

# Get year of account opened
banking['acct_year'] = banking['account_opened'].dt.strftime('%Y')

# Print acct_year
print(banking['acct_year'])

### Diagnosing data cleaning problems using simple pandas and visualizations

Some important and common methods needed to get a better understanding of DataFrames and diagnose potential data problems are the following:

- .head() prints the header of a DataFrame
- .dtypes prints datatypes of all columns in a DataFrame
- .info() provides a bird's eye view of column data types and missing values in a DataFrame
- .describe() returns a distribution of numeric columns in your DataFrame
- .isna().sum() allows us to break down the number of missing values per column in our DataFrame
- .unique() finds the number of unique values in a DataFrame column

In [ ]:
# Read in the dataset
airbnb = pd.read_csv('https://github.com/adelnehme/python-for-spreadsheet-users-webinar/blob/master/datasets/airbnb.csv?raw=true', index_col = 'Unnamed: 0')

airbnb.head()

#### Overview

In [ ]:
airbnb.info()

By merely looking at the data, we can already diagnose a range of potential problems down the line such as:



Data type problems:

- **Problem 1**: We can see that the coordinates column is probably a string (str) - most mapping functions require a latitude input, and longitude input, so it's best to split this column into two and convert the values to float.
- **Problem 2**: Similar to coordinates - the price column also is a string with $ attached to each price point, we need to convert that to float if we want a good understanding of the dataset.
- **Problem 3**: We need to make sure date columns (last_review and listing_added) are in datetime to allow easier manipulation of data data.


Missing data problems:

- **Problem 4**: We can see that there are missing data in some columns, we'll get a better bird's eye view of that down the line.


Text/categorical data problems:

- **Problem 5**: To be able to visualize number of listings by boroughs - we need to separate neighborhoud name from borough name in neighbourhood_full column.
- **Problem 6**: Looking at room_type, let's replace those values to make them 'Shared Room', 'Private Home/Apartment', 'Private Room' and 'Hotel Room'.

In [ ]:
# Print data types of DataFrame
#airbnb.dtypes

In [ ]:
# Print description of DataFrame
airbnb.describe()

#### Missing data

In [ ]:
# Print number of missing values
airbnb.isna().sum()

#### Consistency

In [ ]:
# Find number of unique values in room_type column
airbnb['room_type'].unique()

In [ ]:
# How many values of different room_types do we have?
airbnb['room_type'].value_counts()

### Cleaning data

In [ ]:
# Reminder of the DataFrame
airbnb.head()

####  Replace coordinates with latitude and longitude columns

In [ ]:
# Remove "(" and ")" from coordinates
airbnb['coordinates'] = airbnb['coordinates'].str.replace("(","")
airbnb['coordinates'] = airbnb['coordinates'].str.replace(")","")

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.replace.html

# Print the header of the column
airbnb['coordinates'].head()

In [ ]:
# Split column into two
lat_long = airbnb['coordinates'].str.split(",", expand = True)

# https://pandas.pydata.org/docs/reference/api/pandas.Series.str.split.html

lat_long.head()

In [ ]:
# Assign correct columns to latitude and longitude columns in airbnb
airbnb['latitude'] = lat_long[0]
airbnb['longitude'] = lat_long[1]

# Print the header and confirm new column creation
airbnb.head()

In [ ]:
# Print out dtypes again
airbnb.dtypes

In [ ]:
# Convert latitude and longitude to float
airbnb['latitude'] = airbnb['latitude'].astype('float')
airbnb['longitude'] = airbnb['longitude'].astype('float')

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html

# Print dtypes again
airbnb.dtypes

In [ ]:
# Drop coordinates column
#airbnb.drop('coordinates', axis = 1, inplace = True)

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html

#### Remove $ from price and convert it to float

In [ ]:
# Calculate mean of price without conversion

#airbnb['price'].mean()

# Error: can only concatenate str (not "int") to str

In [ ]:
# Remove $ from price before conversion to float
airbnb['price'] = airbnb['price'].str.strip("$")

# https://pandas.pydata.org/docs/reference/api/pandas.Series.str.strip.html
    
# Print header to make sure change was done
airbnb['price'].head()

In [ ]:
# Convert price to float
airbnb['price'] = airbnb['price'].astype('float')

# Calculate mean of price after conversion
airbnb['price'].mean()

#### Convert listing_added and last_review columns to datetime

In [ ]:
# Print header of two columns
airbnb[['listing_added', 'last_review']].head()

In [ ]:
# Convert both columns to datetime
airbnb['listing_added'] = pd.to_datetime(airbnb['listing_added'], format = '%Y-%m-%d')
airbnb['last_review'] = pd.to_datetime(airbnb['last_review'], format = '%Y-%m-%d')

# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html

In [ ]:
# Print header and datatypes of both columns again
airbnb[['listing_added', 'last_review']].head()

In [ ]:
# Print header and datatypes of both columns again

airbnb[['listing_added', 'last_review']].dtypes

##### Do we have consistent date data?

In [ ]:
# Doing some sanity checks on date data
today = dt.date.today()

today

In [ ]:
# Are there reviews in the future?
airbnb[airbnb['last_review'].dt.date > today]

In [ ]:
# Are there listings in the future?
airbnb[airbnb['listing_added'].dt.date > today]

In [ ]:
# Are there any listings with listing_added > last_review
inconsistent_dates = airbnb[airbnb['listing_added'].dt.date > airbnb['last_review'].dt.date]
inconsistent_dates

In [ ]:
# Drop these rows since they are only 2 rows
airbnb.drop(inconsistent_dates.index, inplace = True)

#### Text and categorical data problems

In [ ]:
# Print unique values of `room_type`
print(airbnb['room_type'].unique())

In [ ]:
# Deal with capitalized values
airbnb['room_type'] = airbnb['room_type'].str.lower()

# https://pandas.pydata.org/docs/reference/api/pandas.Series.str.lower.html

print(airbnb['room_type'].unique())

In [ ]:
# Deal with trailing spaces
airbnb['room_type'] = airbnb['room_type'].str.strip()

print(airbnb['room_type'].unique())

In [ ]:
# Replace values to 'Shared room', 'Entire place', 'Private room' and 'Hotel room' (if applicable).
mappings = {'private room': 'Private Room', 
            'private': 'Private Room',
            'entire home/apt': 'Entire place',
            'shared room': 'Shared room',
            'home': 'Entire place'}

# Replace values and collapse data
airbnb['room_type'] = airbnb['room_type'].replace(mappings)

# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.replace.html

print(airbnb['room_type'].unique())

##### Divide neighbourhood_full into 2 columns and making sure they are clean

In [ ]:
# Print header of column
airbnb['neighbourhood_full'].head()

In [ ]:
# Split neighbourhood_full
borough_neighbourhood = airbnb['neighbourhood_full'].str.split(",", expand = True)

borough_neighbourhood.head()

In [ ]:
# Create borough and neighbourhood columns
airbnb['borough'] = borough_neighbourhood[0]
airbnb['neighbourhood'] = borough_neighbourhood[1]

# Print header of columns
airbnb[['neighbourhood_full', 'borough', 'neighbourhood']].head()

In [ ]:
# Drop neighbourhood_full column
airbnb.drop('neighbourhood_full', axis = 1, inplace = True)

In [ ]:
# Print out unique values of borough and neighbourhood
print(airbnb['borough'].unique())

In [ ]:
# Print out unique values of borough and neighbourhood

print(airbnb['neighbourhood'].unique())

In [ ]:
# Strip white space from neighbourhood column
airbnb['neighbourhood'] = airbnb['neighbourhood'].str.strip()

# Print unique values again
print(airbnb['neighbourhood'].unique())

#### Make sure we set the correct maximum for rating column out of range values

In [ ]:
# Isolate rows of rating > 5.0
airbnb[airbnb['rating'] > 5.0]

In [ ]:
# Drop these rows and make sure we have effected changes
airbnb.drop(airbnb[airbnb['rating'] > 5.0].index, inplace = True)

In [ ]:
# Visualize the rating column again
sns.distplot(airbnb['rating'], bins = 20)
plt.show()

In [ ]:
# Get the maximum
airbnb['rating'].max()

#### Dealing with missing data

In [ ]:
# Visualize the missingness 
msno.matrix(airbnb)

# https://github.com/ResidentMario/missingno

plt.show()

In [ ]:
# Missingness barplot
msno.bar(airbnb)

#### Let's deal with duplicate data

In [ ]:
# Print the header of the DataFrame again
airbnb.head()

In [ ]:
# Find duplicates
duplicates = airbnb.duplicated(subset = 'listing_id', keep = False)

# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.duplicated.html

print(duplicates)

In [ ]:
# Find duplicates
airbnb[duplicates].sort_values('listing_id')

In [ ]:
# Remove identical duplicates
airbnb = airbnb.drop_duplicates()

# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop_duplicates.html

In [ ]:
# Find non-identical duplicates
duplicates = airbnb.duplicated(subset = 'listing_id', keep = False)

In [ ]:
# Show all duplicates
airbnb[duplicates].sort_values('listing_id')